// Main Nextflow configuration file
// Modular configuration files are loaded from conf/ directory

plugins {
    id 'nf-schema@2.3.0'
}

validation {
    help {
        enabled = true
        showHidden = false
    }
    parametersSchema = 'nextflow_schema.json'
    monochromeLogs = false
    failUnrecognisedParams = true
    lenientMode = false
}

// Include configuration files
includeConfig 'conf/params.config'
includeConfig 'conf/singularity.config'
includeConfig 'conf/reporting.config'
includeConfig 'conf/profiles.config'
